{
   "swagger": "2.0",
   "info": {
      "title": "Crayon Group Customer API",
      "version": "v1"
   },
   "host": "apiv1.crayon.com",
   "paths": {
      "/api/v1/ActivityLogs": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "ActivityLogs"
            ],
            "operationId": "GetActivityLogs",
            "parameters": [
               {
                  "type": "string",
                  "name": "Entity",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Id",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "integer",
                     "format": "int32"
                  },
                  "collectionFormat": "multi",
                  "name": "Ids",
                  "in": "query"
               },
               {
                  "type": "string",
                  "format": "date-time",
                  "name": "SearchDate",
                  "in": "query"
               },
               {
                  "type": "string",
                  "format": "date-time",
                  "name": "From",
                  "in": "query"
               },
               {
                  "type": "string",
                  "format": "date-time",
                  "name": "To",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Page",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PageSize",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ActivityLog"
                  }
               }
            }
         }
      },
      "/api/v1/AgreementProducts": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "AgreementProducts"
            ],
            "operationId": "GetAgreementProducts",
            "parameters": [
               {
                  "type": "array",
                  "items": {
                     "enum": [
                        "None",
                        "LicenseAgreement",
                        "OpenAgreement",
                        "FrameAgreement",
                        "SamAgreement",
                        "ConsultingAgreement",
                        "CloudSeatAgreement",
                        "CloudUsageAgreement",
                        "ReportingAgreement",
                        "OtherAgreement",
                        "Reserved1",
                        "Reserved2",
                        "Reserved3"
                     ],
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "AgreementTypeIds",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Page",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PageSize",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "Search",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PriceListId",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "OrganizationId",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "CustomerTenantId",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "AgreementId",
                  "in": "query"
               },
               {
                  "type": "boolean",
                  "name": "IsTrial",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "integer",
                     "format": "int32"
                  },
                  "collectionFormat": "multi",
                  "name": "AgreementIds",
                  "in": "query"
               },
               {
                  "type": "string",
                  "format": "date-time",
                  "name": "SearchDate",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.PartNumbers",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "integer",
                     "format": "int32"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.PublisherIds",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.PublisherNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.PoolNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.OperatingSystemNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.LevelNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.LanguageNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.LicenseAgreementTypeNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.LicenseTypeNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.ProductFamilyNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.ProductTypeNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.ProgramNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.OfferingNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.PurchasePeriodNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.PurchaseUnitNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.VersionNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.RegionNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Include.ProductCategoryNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.PartNumbers",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "integer",
                     "format": "int32"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.PublisherIds",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.PublisherNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.PoolNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.OperatingSystemNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.LevelNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.LanguageNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.LicenseAgreementTypeNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.LicenseTypeNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.ProductFamilyNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.ProductTypeNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.ProgramNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.OfferingNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.PurchasePeriodNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.PurchaseUnitNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.VersionNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.RegionNames",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "Exclude.ProductCategoryNames",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "SortKey",
                  "in": "query"
               },
               {
                  "type": "boolean",
                  "name": "IncludeProductInformation",
                  "in": "query"
               },
               {
                  "enum": [
                     "Ascending",
                     "Descending"
                  ],
                  "type": "string",
                  "name": "SortOrder",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/AgreementProductCollection"
                  }
               }
            }
         },
         "post": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "AgreementProducts"
            ],
            "operationId": "GetOperationSdk133",
            "parameters": [
               {
                  "name": "filter",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/AgreementProductFilter"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/AgreementProductCollection"
                  }
               }
            }
         }
      },
      "/api/v1/AgreementProducts/file/xlsx": {
         "post": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "tags": [
               "AgreementProducts"
            ],
            "operationId": "GetAsExcelFile",
            "parameters": [
               {
                  "name": "filter",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/AgreementProductFilter"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success"
               }
            }
         }
      },
      "/api/v1/AgreementProducts/{partNumber}/supportedbillingcycles": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "AgreementProducts"
            ],
            "operationId": "GetSupportedBillingCycles",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "resellerCustomerId",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "partNumber",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "type": "array",
                     "items": {
                        "type": "string",
                        "enum": [
                           "Unknown",
                           "Monthly",
                           "Annual",
                           "None",
                           "OneTime",
                           "BiAnnually",
                           "TwoYears",
                           "ThreeYears",
                           "Quarterly"
                        ]
                     }
                  }
               }
            }
         }
      },
      "/api/v1/AgreementReports/{agreementId}": {
         "put": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "AgreementReports"
            ],
            "operationId": "Update",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "agreementId",
                  "in": "path",
                  "required": true
               },
               {
                  "name": "agreementReport",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/AgreementReport"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/AgreementReport"
                  }
               }
            }
         }
      },
      "/api/v1/AgreementReports/{productContainerId}": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "AgreementReports"
            ],
            "operationId": "GetAgreementReports",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "productContainerId",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfAgreementReport"
                  }
               }
            }
         }
      },
      "/api/v1/Agreements": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Agreements"
            ],
            "operationId": "GetAgreements",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "OrganizationId",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "integer",
                     "format": "int32"
                  },
                  "collectionFormat": "multi",
                  "name": "OrganizationIds",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "integer",
                     "format": "int32"
                  },
                  "collectionFormat": "multi",
                  "name": "PricelistIds",
                  "in": "query"
               },
               {
                  "enum": [
                     "None",
                     "Active",
                     "Inactive",
                     "ActiveInactive"
                  ],
                  "type": "string",
                  "name": "Status",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "enum": [
                        "None",
                        "LicenseAgreement",
                        "OpenAgreement",
                        "FrameAgreement",
                        "SamAgreement",
                        "ConsultingAgreement",
                        "CloudSeatAgreement",
                        "CloudUsageAgreement",
                        "ReportingAgreement",
                        "OtherAgreement",
                        "Reserved1",
                        "Reserved2",
                        "Reserved3"
                     ],
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "AgreementTypes",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "integer",
                     "format": "int32"
                  },
                  "collectionFormat": "multi",
                  "name": "PublisherIds",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "integer",
                     "format": "int32"
                  },
                  "collectionFormat": "multi",
                  "name": "ProgramIds",
                  "in": "query"
               },
               {
                  "type": "string",
                  "format": "date-time",
                  "name": "SearchDate",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "integer",
                     "format": "int32"
                  },
                  "collectionFormat": "multi",
                  "name": "AgreementIds",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "SalesPriceCurrency",
                  "in": "query"
               },
               {
                  "type": "boolean",
                  "name": "TermRequired",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PublisherId",
                  "in": "query"
               },
               {
                  "type": "string",
                  "format": "date-time",
                  "name": "EndDateFrom",
                  "in": "query"
               },
               {
                  "type": "string",
                  "format": "date-time",
                  "name": "EndDateTo",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Page",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PageSize",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "Search",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/AgreementCollection"
                  }
               }
            }
         }
      },
      "/api/v1/Assets": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Assets"
            ],
            "operationId": "GetAssets",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "ResellerCustomerId",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PublisherId",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "ExternalOrderId",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "ExternalOrderIds",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "ReservationId",
                  "in": "query"
               },
               {
                  "enum": [
                     "Reservation",
                     "Software",
                     "Subscription"
                  ],
                  "type": "string",
                  "name": "AssetType",
                  "in": "query"
               },
               {
                  "enum": [
                     "None",
                     "Fulfilling",
                     "Succeeded",
                     "Cancelled",
                     "Expired",
                     "All"
                  ],
                  "type": "string",
                  "name": "Status",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Page",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PageSize",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "Search",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfAsset"
                  }
               }
            }
         }
      },
      "/api/v1/Assets/checkout": {
         "post": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "tags": [
               "Assets"
            ],
            "operationId": "CheckoutAsync",
            "parameters": [
               {
                  "name": "order",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/AssetOrder"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success"
               }
            }
         }
      },
      "/api/v1/Assets/orders": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Assets"
            ],
            "operationId": "GetAssetOrdersAsync",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "ResellerCustomerId",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PublisherId",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "ExternalOrderId",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  },
                  "collectionFormat": "multi",
                  "name": "ExternalOrderIds",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "ReservationId",
                  "in": "query"
               },
               {
                  "enum": [
                     "Reservation",
                     "Software",
                     "Subscription"
                  ],
                  "type": "string",
                  "name": "AssetType",
                  "in": "query"
               },
               {
                  "enum": [
                     "None",
                     "Fulfilling",
                     "Succeeded",
                     "Cancelled",
                     "Expired",
                     "All"
                  ],
                  "type": "string",
                  "name": "Status",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Page",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PageSize",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "Search",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfAssetOrder"
                  }
               }
            }
         }
      },
      "/api/v1/Assets/verify": {
         "post": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Assets"
            ],
            "operationId": "VerifyAsync",
            "parameters": [
               {
                  "name": "order",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/AssetOrder"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/AssetOrder"
                  }
               }
            }
         }
      },
      "/api/v1/Assets/{assetId}/tags": {
         "put": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "tags": [
               "Assets"
            ],
            "operationId": "UpdateTagsAsync",
            "parameters": [
               {
                  "name": "assetTags",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/AssetTags"
                  }
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "assetId",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success"
               }
            }
         },
         "post": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "tags": [
               "Assets"
            ],
            "operationId": "AddTagsAsync",
            "parameters": [
               {
                  "name": "assetTags",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/AssetTags"
                  }
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "assetId",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success"
               }
            }
         },
         "delete": {
            "tags": [
               "Assets"
            ],
            "operationId": "DeleteTagsAsync",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "assetId",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success"
               }
            }
         }
      },
      "/api/v1/Assets/{id}": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Assets"
            ],
            "operationId": "GetById",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/Asset"
                  }
               }
            }
         }
      },
      "/api/v1/AwsAccounts": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "AwsAccounts"
            ],
            "operationId": "GetAwsAccounts",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "OrganizationId",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PublisherId",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "ConsumerId",
                  "in": "query"
               },
               {
                  "enum": [
                     "None",
                     "T1",
                     "T2"
                  ],
                  "type": "string",
                  "name": "CustomerTenantType",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Page",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PageSize",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "Search",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfAwsAccount"
                  }
               }
            }
         }
      },
      "/api/v1/AwsAccounts/{id}": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "AwsAccounts"
            ],
            "operationId": "GetAwsAccountById",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/AwsAccount"
                  }
               }
            }
         },
         "put": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "AwsAccounts"
            ],
            "operationId": "UpdateAwsAccounts",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               },
               {
                  "name": "awsAccount",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/AwsAccount"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/AwsAccount"
                  }
               }
            }
         }
      },
      "/api/v1/AzurePlans/{azurePlanId}": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "AzurePlans"
            ],
            "operationId": "GetById",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "azurePlanId",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/AzurePlan"
                  }
               }
            }
         }
      },
      "/api/v1/AzurePlans/{azurePlanId}/azureSubscriptions": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "AzurePlans"
            ],
            "operationId": "GetSubscriptions",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "azurePlanId",
                  "in": "path",
                  "required": true
               },
               {
                  "type": "string",
                  "name": "Search",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Page",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PageSize",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfAzureSubscription"
                  }
               }
            }
         },
         "post": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "tags": [
               "AzurePlans"
            ],
            "operationId": "CreateSubscription",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "azurePlanId",
                  "in": "path",
                  "required": true
               },
               {
                  "name": "requestBody",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/CreateAzureSubscriptionRequest"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success"
               }
            }
         }
      },
      "/api/v1/AzurePlans/{azurePlanId}/azureSubscriptions/{id}": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "AzurePlans"
            ],
            "operationId": "GetSubscriptionById",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "azurePlanId",
                  "in": "path",
                  "required": true
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/AzureSubscription"
                  }
               }
            }
         },
         "put": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "AzurePlans"
            ],
            "operationId": "UpdateSubscription",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "azurePlanId",
                  "in": "path",
                  "required": true
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               },
               {
                  "name": "azureSubscription",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/PutAzureSubscription"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/AzureSubscription"
                  }
               }
            }
         }
      },
      "/api/v1/AzurePlans/{azurePlanId}/azureSubscriptions/{id}/assign-unique-admin": {
         "put": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "AzurePlans"
            ],
            "operationId": "AssignUniqueAdmin",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "azurePlanId",
                  "in": "path",
                  "required": true
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               },
               {
                  "name": "body",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/AzureSubscriptionAssignAdmin"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "type": "boolean"
                  }
               }
            }
         }
      },
      "/api/v1/AzurePlans/{azurePlanId}/azureSubscriptions/{id}/cancel": {
         "post": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "AzurePlans"
            ],
            "operationId": "Cancel",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "azurePlanId",
                  "in": "path",
                  "required": true
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/AzureSubscriptionUpdated"
                  }
               }
            }
         }
      },
      "/api/v1/AzurePlans/{azurePlanId}/azureSubscriptions/{id}/enable": {
         "post": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "AzurePlans"
            ],
            "operationId": "Enable",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "azurePlanId",
                  "in": "path",
                  "required": true
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/AzureSubscriptionUpdated"
                  }
               }
            }
         }
      },
      "/api/v1/AzurePlans/{azurePlanId}/azureSubscriptions/{id}/rename": {
         "patch": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "AzurePlans"
            ],
            "operationId": "Enable",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "azurePlanId",
                  "in": "path",
                  "required": true
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               },
               {
                  "name": "body",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/AzureSubscriptionRename"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/AzureSubscriptionUpdated"
                  }
               }
            }
         }
      },
      "/api/v1/BillingCycles": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "BillingCycles"
            ],
            "operationId": "GetAllBillingCycles",
            "parameters": [
               {
                  "type": "boolean",
                  "default": false,
                  "name": "includeUnknown",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfBillingCycle"
                  }
               }
            }
         }
      },
      "/api/v1/BillingCycles/cspNameDictionary": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "BillingCycles"
            ],
            "operationId": "GetCspNameDictionary",
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "type": "object",
                     "additionalProperties": {
                        "type": "string"
                     }
                  }
               }
            }
         }
      },
      "/api/v1/BillingCycles/productVariant/{productVariantId}": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "BillingCycles"
            ],
            "operationId": "GetByProductVariantId",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "productVariantId",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfBillingCycle"
                  }
               }
            }
         }
      },
      "/api/v1/BillingStatements": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "BillingStatements"
            ],
            "operationId": "GetBillingStatements",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "InvoiceProfileId",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "OrganizationId",
                  "in": "query"
               },
               {
                  "enum": [
                     "None",
                     "Seat",
                     "Usage",
                     "OneTime",
                     "Crayon",
                     "AzureMarketplace"
                  ],
                  "type": "string",
                  "name": "ProvisionType",
                  "in": "query"
               },
               {
                  "type": "string",
                  "format": "date-time",
                  "name": "From",
                  "in": "query"
               },
               {
                  "type": "string",
                  "format": "date-time",
                  "name": "To",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Page",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PageSize",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfBillingStatement"
                  }
               }
            }
         }
      },
      "/api/v1/BillingStatements/file/{id}": {
         "get": {
            "tags": [
               "BillingStatements"
            ],
            "operationId": "GetBillingStatementFile",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success"
               }
            }
         }
      },
      "/api/v1/BillingStatements/grouped": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "BillingStatements"
            ],
            "operationId": "GetGroupedBillingStatements",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "InvoiceProfileId",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "OrganizationId",
                  "in": "query"
               },
               {
                  "enum": [
                     "None",
                     "Seat",
                     "Usage",
                     "OneTime",
                     "Crayon",
                     "AzureMarketplace"
                  ],
                  "type": "string",
                  "name": "ProvisionType",
                  "in": "query"
               },
               {
                  "type": "string",
                  "format": "date-time",
                  "name": "From",
                  "in": "query"
               },
               {
                  "type": "string",
                  "format": "date-time",
                  "name": "To",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Page",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PageSize",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfGroupedBillingStatement"
                  }
               }
            }
         }
      },
      "/api/v1/BillingStatements/{id}/billingrecordsfile": {
         "get": {
            "tags": [
               "BillingStatements"
            ],
            "operationId": "GetBillingRecordsFile",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success"
               }
            }
         }
      },
      "/api/v1/BillingStatements/{id}/reconciliationfile": {
         "get": {
            "tags": [
               "BillingStatements"
            ],
            "operationId": "GetReconciliationFile",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success"
               }
            }
         }
      },
      "/api/v1/BlogItems": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "BlogItems"
            ],
            "operationId": "GetForDirectCustomers",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "default": 6,
                  "name": "count",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "name": "organizationId",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfBlogItem"
                  }
               }
            }
         }
      },
      "/api/v1/Clients": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Clients"
            ],
            "operationId": "GetClients",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Page",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PageSize",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "Search",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfClient"
                  }
               }
            }
         },
         "post": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Clients"
            ],
            "operationId": "CreateClients",
            "parameters": [
               {
                  "name": "client",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/Client"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/Client"
                  }
               }
            }
         }
      },
      "/api/v1/Clients/{clientId}": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Clients"
            ],
            "operationId": "GetById",
            "parameters": [
               {
                  "type": "string",
                  "name": "clientId",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/Client"
                  }
               }
            }
         },
         "put": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Clients"
            ],
            "operationId": "UpdateClients",
            "parameters": [
               {
                  "type": "string",
                  "name": "clientId",
                  "in": "path",
                  "required": true
               },
               {
                  "name": "client",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/Client"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/Client"
                  }
               }
            }
         },
         "delete": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Clients"
            ],
            "operationId": "DeleteClients",
            "parameters": [
               {
                  "type": "string",
                  "name": "clientId",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "type": "boolean"
                  }
               }
            }
         }
      },
      "/api/v1/Consumers": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Consumers"
            ],
            "operationId": "GetConsumers",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "OrganizationId",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "Search",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Page",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PageSize",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfConsumer"
                  }
               }
            }
         },
         "post": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Consumers"
            ],
            "operationId": "AddConsumer",
            "parameters": [
               {
                  "name": "consumer",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/Consumer"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/Consumer"
                  }
               }
            }
         }
      },
      "/api/v1/Consumers/{id}": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Consumers"
            ],
            "operationId": "GetConsumerById",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/Consumer"
                  }
               }
            }
         },
         "put": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Consumers"
            ],
            "operationId": "UpdateConsumer",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               },
               {
                  "name": "consumer",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/Consumer"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/Consumer"
                  }
               }
            }
         },
         "delete": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Consumers"
            ],
            "operationId": "DeleteConsumer",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "type": "boolean"
                  }
               }
            }
         }
      },
      "/api/v1/CrayonAccounts": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "CrayonAccounts"
            ],
            "operationId": "GetCrayonAccounts",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "OrganizationId",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PublisherId",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "ConsumerId",
                  "in": "query"
               },
               {
                  "enum": [
                     "None",
                     "T1",
                     "T2"
                  ],
                  "type": "string",
                  "name": "CustomerTenantType",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Page",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PageSize",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "Search",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfCrayonAccount"
                  }
               }
            }
         },
         "post": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "CrayonAccounts"
            ],
            "operationId": "CreateCrayonAccounts",
            "parameters": [
               {
                  "name": "crayonAccount",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/CrayonAccount"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/CrayonAccount"
                  }
               }
            }
         }
      },
      "/api/v1/CrayonAccounts/{id}": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "CrayonAccounts"
            ],
            "operationId": "GetCrayonAccountById",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/CrayonAccount"
                  }
               }
            }
         },
         "put": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "CrayonAccounts"
            ],
            "operationId": "UpdateCrayonAccounts",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               },
               {
                  "name": "crayonAccount",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/CrayonAccount"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/CrayonAccount"
                  }
               }
            }
         }
      },
      "/api/v1/CustomerTenants": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "CustomerTenants"
            ],
            "operationId": "GetCustomerTenants",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "OrganizationId",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PublisherId",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "ProgramId",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "ConsumerId",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "Domain",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "DomainPrefix",
                  "in": "query"
               },
               {
                  "enum": [
                     "None",
                     "T1",
                     "T2"
                  ],
                  "type": "string",
                  "name": "CustomerTenantType",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "InvoiceProfileId",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Page",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PageSize",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "Search",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfCustomerTenant"
                  }
               }
            }
         },
         "post": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "CustomerTenants"
            ],
            "operationId": "CreateCustomerTenants",
            "parameters": [
               {
                  "name": "customerTenant",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/CustomerTenantDetailed"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/CustomerTenantDetailed"
                  }
               }
            }
         }
      },
      "/api/v1/CustomerTenants/existing": {
         "post": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "CustomerTenants"
            ],
            "operationId": "AddExisting",
            "parameters": [
               {
                  "name": "existingTenant",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/CustomerTenantDetailed"
                  }
               },
               {
                  "type": "boolean",
                  "default": false,
                  "name": "syncFromPublisher",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/CustomerTenantDetailed"
                  }
               }
            }
         }
      },
      "/api/v1/CustomerTenants/{customerTenantId}/azurePlan": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "CustomerTenants"
            ],
            "operationId": "GetAzurePlan",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "customerTenantId",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/AzurePlan"
                  }
               }
            }
         }
      },
      "/api/v1/CustomerTenants/{id}": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "CustomerTenants"
            ],
            "operationId": "GetCustomerTenantById",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/CustomerTenant"
                  }
               }
            }
         },
         "put": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "CustomerTenants"
            ],
            "operationId": "UpdateCustomerTenants",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               },
               {
                  "name": "customerTenant",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/CustomerTenantDetailed"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/CustomerTenantDetailed"
                  }
               }
            }
         },
         "delete": {
            "tags": [
               "CustomerTenants"
            ],
            "operationId": "DeleteCustomerById",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success"
               }
            }
         }
      },
      "/api/v1/CustomerTenants/{id}/detailed": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "CustomerTenants"
            ],
            "operationId": "GetCustomerTenantDetailedById",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/CustomerTenantDetailed"
                  }
               }
            }
         }
      },
      "/api/v1/FacebookOrders/checkout": {
         "post": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "tags": [
               "FacebookOrders"
            ],
            "operationId": "CheckoutAsync",
            "parameters": [
               {
                  "name": "order",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/FacebookOrder"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success"
               }
            }
         }
      },
      "/api/v1/GoogleOrders/checkout": {
         "post": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "tags": [
               "GoogleOrders"
            ],
            "operationId": "CheckoutAsync",
            "parameters": [
               {
                  "name": "order",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/GoogleOrder"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success"
               }
            }
         }
      },
      "/api/v1/Groupings": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Groupings"
            ],
            "operationId": "GetGroupings",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "OrganizationId",
                  "in": "query"
               },
               {
                  "type": "boolean",
                  "name": "IncludeRemoved",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "Search",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Page",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PageSize",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfGrouping"
                  }
               }
            }
         },
         "post": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Groupings"
            ],
            "operationId": "CreateGroupings",
            "parameters": [
               {
                  "name": "grouping",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/Grouping"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/Grouping"
                  }
               }
            }
         }
      },
      "/api/v1/Groupings/{id}": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Groupings"
            ],
            "operationId": "GetById",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/Grouping"
                  }
               }
            }
         },
         "put": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Groupings"
            ],
            "operationId": "UpdateGroupings",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               },
               {
                  "name": "grouping",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/Grouping"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/Grouping"
                  }
               }
            }
         },
         "delete": {
            "tags": [
               "Groupings"
            ],
            "operationId": "DeleteGroupings",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success"
               }
            }
         }
      },
      "/api/v1/InvoiceProfiles": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "InvoiceProfiles"
            ],
            "operationId": "GetInvoiceProfiles",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "OrganizationId",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Page",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PageSize",
                  "in": "query"
               },
               {
                  "type": "string",
                  "name": "Search",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfInvoiceProfile"
                  }
               }
            }
         },
         "post": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "InvoiceProfiles"
            ],
            "operationId": "CreateInvoiceProfiles",
            "parameters": [
               {
                  "name": "invoiceProfile",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/InvoiceProfile"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/InvoiceProfile"
                  }
               }
            }
         }
      },
      "/api/v1/InvoiceProfiles/{id}": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "InvoiceProfiles"
            ],
            "operationId": "GetById",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/InvoiceProfile"
                  }
               }
            }
         },
         "put": {
            "consumes": [
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "InvoiceProfiles"
            ],
            "operationId": "UpdateInvoiceProfiles",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               },
               {
                  "name": "invoiceProfile",
                  "in": "body",
                  "schema": {
                     "$ref": "#/definitions/InvoiceProfile"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/InvoiceProfile"
                  }
               }
            }
         },
         "delete": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "InvoiceProfiles"
            ],
            "operationId": "DeleteInvoiceProfiles",
            "parameters": [
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "id",
                  "in": "path",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "type": "boolean"
                  }
               }
            }
         }
      },
      "/api/v1/ManagementLinks": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "ManagementLinks"
            ],
            "operationId": "GetManagementLinks",
            "parameters": [
               {
                  "type": "array",
                  "items": {
                     "type": "integer",
                     "format": "int32"
                  },
                  "collectionFormat": "multi",
                  "name": "SubscriptionIds",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "integer",
                     "format": "int32"
                  },
                  "collectionFormat": "multi",
                  "name": "ResellerCustomerIds",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Page",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PageSize",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfManagementLink"
                  }
               }
            }
         }
      },
      "/api/v1/ManagementLinks/grouped": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "ManagementLinks"
            ],
            "operationId": "GetGrouped",
            "parameters": [
               {
                  "type": "array",
                  "items": {
                     "type": "integer",
                     "format": "int32"
                  },
                  "collectionFormat": "multi",
                  "name": "SubscriptionIds",
                  "in": "query"
               },
               {
                  "type": "array",
                  "items": {
                     "type": "integer",
                     "format": "int32"
                  },
                  "collectionFormat": "multi",
                  "name": "ResellerCustomerIds",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "Page",
                  "in": "query"
               },
               {
                  "type": "integer",
                  "format": "int32",
                  "name": "PageSize",
                  "in": "query"
               }
            ],
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/ApiCollectionOfManagementLinkGrouped"
                  }
               }
            }
         }
      },
      "/api/v1/Me": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "Me"
            ],
            "operationId": "GetMe",
            "responses": {
               "200": {
                  "description": "Success",
                  "schema": {
                     "$ref": "#/definitions/Me"
                  }
               }
            }
         }
      },
      "/api/v1/OrganizationAccess": {
         "get": {
            "produces": [
               "text/plain",
               "application/json",
               "text/json"
            ],
            "tags": [
               "OrganizationAccess"
            ],
[...]
